<div class="modal-header">
    <!-- (click)="onClose()" -->
    <h5 class="modal-title">{{ title }}</h5>
    <button type="button" class="btn btn-sm close basic-close" data-dismiss="modal" aria-label="Close" (click)="onClose()" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="modal-body">
        <div class="col-md-12">
          <div class="row">
            <span class="badge bg-warning w-100 my-2 fs-6"> DÉTAILS DU MOT DE PASSE</span>
          </div>
          <div class="form-group">
            <div class="row mb-2">
              <div class="col-md-4">
                <label for="user">Utilisateur <span class="asterix">*</span></label>
                <!-- <select formControlName="user" class="form-control" id="user"
                [ngClass]="{
                'is-invalid': submit && f.user.errors,
                'is-valid': submit && f.user.valid }">
                <option *ngFor="let item of users" [ngValue]="item.uuid">{{item.libelle}}</option>
                </select> -->
                <app-entity-finder [class]="'User'" [groups]="['user']" [required]="true"
                  (uuid)="setUserUuid($event)" [namespace]="'Admin'" [placeholder]="'Sélectionnez un utilisateur'">
                </app-entity-finder>
                <div class="invalid-feedback" *ngIf="submit && f.user.errors">
                  <div *ngIf="f.user.errors.required">{{required.novide}}</div>
                </div>
              </div>
              <div class="col-md-5">
                <label for="user">Mot de passe <span class="asterix">*</span></label>
                <div class="input-group mb-3">
                  <input type="text" formControlName="new" class="form-control" id="new"
                    [ngClass]="{
                      'is-invalid': submit && f.new.errors,
                      'is-valid': submit && f.new.valid
                    }" placeholder="Mot de passe">
                  <div class="invalid-feedback" *ngIf="submit && f.new.errors">
                    <div *ngIf="f.new.errors.required">{{required.novide}}</div>
                  </div>
                  <div class="input-group-append" (click)="onTogglePassword()">
                    <span class="input-group-text"><span class="fas fa-copy"></span></span>
                  </div>
                </div>
              </div>
              <div class=" col-md-3 mt-4">
                <button (click)="setPassword()" type="button" class="btn btn-warning m-1" ngbTooltip="Genére mot de passe">
                  Genéré <i class="bx bx-reset"></i>
                </button>
              </div>
          </div>
          </div>
        </div>
      </div>
    <div class="d-flex justify-content-end  align-items-center modal-footer">
      <div>
        <button  (click)="modal.close('ferme')" type="button" class="btn btn-secondary text-left m-1" data-dismiss="modal">
          <i class=" mdi mdi-close-circle-outline"></i> Fermer
        </button>
        <button (click)="form.reset()" type="button" class="btn btn-warning m-1">
          <i class="bx bx-brush"></i> Vider
        </button>
        <button type="submit" class="btn btn-success m-1">
          <i class="bx bx-save"></i> Enregistrer
        </button>
      </div>
    </div>
  </form>
  