<app-filter class="width"
[name]="name"
[nameTitle]="nameTitle"
[nameType]="nameType"
[nameClass]="nameClass"
[nameNamespace]="nameNamespace"
[nameGroups]="nameGroups"

[autre]="autre"
[autreTitle]="autreTitle"
[autreType]="autreType"
[autreClass]="autreClass"
[autreNamespace]="autreNamespace"
[autreGroups]="autreGroups"

[bien]="bien"
[bienTitle]="bienTitle"
[bienType]="bienType"
[bienClass]="bienClass"
[bienNamespace]="bienNamespace"
[bienGroups]="bienGroups"


[dateD]="true"
[dateF]="true"
[type]="true"
[typeRow]="typeRow" (typeEvent)="onChangeLoad($event)" (filterEvent)="onFilter($event)">
</app-filter>